html {
    font-size: 16px;
}

header {
    padding-top: 130px;
    background-image:url("/resources/photos/headerbackground.jpeg");
    padding-bottom: 10px;
}

h1 {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: Rosario;
    color: #033b31;
    font-size: 2rem;
}

h3 {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 2rem;
    text-align: center;
}

.about-me {
    text-align: center;
}

.projects {
    text-align: center;
}

h4 {
    font-family: "Shippori Mincho";
    font-size: 1.5rem;
}
