html {
    font-size: 16px;
}

header {
    padding-top: 130px;
    background-image:url("/resources/photos/headerbackground.jpeg");
    padding-bottom: 25px;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color:#fcfcfc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #252954;
    font-family: Rosario;
    font-size: 2.5rem;
}

nav a {
    color:#252954;
    transition: 0.3s;
}

nav a:hover {
    color: #d6eaf2;
    border-bottom: 2px solid #d6eaf2;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-family: Rosario;
    font-size: 1.5rem;  
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    width: 30rem;
}

.bio {
    width: 36rem;
}

h1 {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 4rem;
    text-align: center;
}

#jobtitle {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-family: Rosario;
    color: #252954;
    font-size: 2rem;
}

#about {
    text-align: center;
}

p {
    font-family: "Shippori Mincho";
    font-size: 1.25rem;
    padding-left: 40px;
    padding-right: 40px;
}

#projects {
    text-align: center;
}

footer {
    padding-top: 20px;
    background:rgba(221, 123, 63, .5);
    padding-bottom: 25px;
}

#contactinfo {
    font-family: Rosario;
    color: #033b31;
    font-size: 2rem;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    font-family: "Shippori Mincho";
    font-size: 1.3rem;
    padding: 5px 45px 5px 0px;
    display: inline-block;
}

a {
    color: #033b31;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}


