html {
    font-size: 16px;
}

header {
    padding-top: 130px;
    background-image:url("/resources/photos/headerbackground.jpeg");
    padding-bottom: 25px;
}

h1 {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 4rem;
    text-align: center;
}

#jobtitle {
    font-family: Rosario;
    color: #DD7B3F;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-family: Rosario;
    color: #033b31;
    font-size: 2rem;
}

.about-me {
    text-align: center;
}

p {
    font-family: "Shippori Mincho";
    font-size: 1.25rem;
    padding-left: 40px;
    padding-right: 40px;
}

.projects {
    text-align: center;
}

footer {
    padding-top: 20px;
    background:rgba(221, 123, 63, .5);
    padding-bottom: 25px;
}

#contactinfo {
    font-family: Rosario;
    color: #033b31;
    font-size: 2rem;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    font-family: "Shippori Mincho";
    font-size: 1.3rem;
    padding: 5px 45px 5px 0px;
    display: inline-block;
}

a {
    color: #033b31;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}


