html {
    font-size: 16px;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color:#fcfcfc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #252954;
    font-family: Rosario;
    font-size: 2.5rem;
}

nav a {
    color:#252954;
    transition: 0.2s;
}

nav a:hover {
    color: #d6eaf2;
    border-bottom: 2px solid #d6eaf2;
}

a:link {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-family: Rosario;
    font-size: 1.5rem;  
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    width: 30rem;
}

.bio {
    width: 36rem;
}

h2 {
    font-family: Rosario;
    color: #252954;
    font-size: 2rem;
}

#about {
    text-align: center;
    color: #252954;
    padding-top: 2.5rem;
}

p {
    font-family: "Shippori Mincho";
    font-size: 1.25rem;
    padding-left: 40px;
    padding-right: 40px;
}

#skills {
    text-align: center;
    color: #252954;
    padding-top: 4rem;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 2rem;
}

.icon {
    width: 5rem;
    height: 5rem;
}

#projects {
    text-align: center;
    color: #252954;
    padding-top: 4rem;
}

#contact {
    text-align: center;
    color: #252954;
    padding-top: 4rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 2rem;
}

.socials img {
    width: 10rem;
    height: 10rem;
}